.container {
    display: grid;
    grid-template-columns: 250px 600px 250px;
    grid-template-rows: 120px 350px 210px 200px;
    grid-template-areas: ". geninfo ."
                          ". edinfo ." 
                          ". expinfo ."
                          ". button .";
    /* row-gap: 10px;
    column-gap: 10px; */
    justify-items: center;
    align-items: center;
}

.generalinfo-div {
    grid-area: geninfo;
}

.educationalinfo-div {
    grid-area: edinfo;
}

.exp-div {
    grid-area: expinfo;
}

.btn {
    grid-area: button;
}